* {
  box-sizing: border-box;
}


.task-icon {
  font-size: 20px;
}


.task-icon-check, .options{
  display: none;
}

.icons:hover > .task-icon-unchecked  {
  display: none;

}

.icons:hover > .task-icon-check  {
  display: inline;

}

.side-bar-button:hover > .options {
  display: inline;
}


